.pageflows-basic
	if isEmpty
		p There are no records
	else
		p pageflows - categories list
		ul
			li
				a(href='/pageflows/1-5') 1&ndash;5 count (#{cat1Count} entries)
			li
				a(href='/pageflows/6-10') 6&ndash;10 count (#{cat2Count} entries)
			li
				a(href='/pageflows/11-50') 11&ndash;50 count (#{cat3Count} entries)
			li
				a(href='/pageflows/51-100') 51&ndash;100 count (#{cat4Count} entries)
			li
				a(href='/pageflows/101-500') 101&ndash;500 count (#{cat5Count} entries)
			li
				a(href='/pageflows/501-1000') 501&ndash;1000 count (#{cat6Count} entries)
			li
				a(href='/pageflows/1001-oo') 1001&ndash;&infin; count (#{cat7Count} entries)
		p
			a(href='/pageflows/chart') Display chart